APP_NAME=LaunchCraft
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8080

DB_CONNECTION=mongodb
DB_HOST=127.0.0.1
DB_PORT=27017
DB_DATABASE=launchcraft
DB_USERNAME=
DB_PASSWORD=
# DB_URI=mongodb+srv://user:pass@cluster.mongodb.net/launchcraft?retryWrites=true&w=majority

SESSION_DRIVER=file
CACHE_STORE=file
